.bg-light {
  background-image: url("/images/logo_20220114_2006.svg");
  background-position: left bottom;
  background-repeat: no-repeat;
}

#graph_area {
  background-color: white;
  width: 100%;
  height: 500px;
  padding: 1em;
}

#colorchanger{background-color: #ddd;}
