body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


/*
mount etna grey: 4b5459
tricorn black: 2d2d2d
rookwood dark red: 4a2220
canoe: b89c7e
leather bound: 8c653a
*/
