@import url('https://fonts.googleapis.com/css2?family=Sono&display=swap');

.btn-primary {
  --bs-btn-bg: #6f9ee3;
  --bs-btn-border-color: #6282b0;
  --bs-btn-hover-bg: #4084e8;
  --bs-btn-disabled-bg: #c7d4e7;
  --bs-btn-disabled-border-color: #adb5bf;
}

.brand-dark {
  color: rgba(255, 255, 255, 0.7);
}
.footer-branding {
  background-image: url('../../images/logo-light.svg');
  background-position: left bottom;
  background-repeat: no-repeat;
}

.navbar-brand {
  font-size: 1em;
}

/*
 * Main
 */
#main {
  margin-left: calc((2*100vw/12));
  padding: 0% 1.5% 0% 1.5%;
} 

/*
 * Sidebar
 */
 .sidebar-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0px 0px 0px; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
}

.sidebar-menu-sticky {
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar-menu .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar-menu .nav-link .feather {
  margin-right: 4px;
  color: #727272;
}

.sidebar-menu .nav-link.active {
  color: #2470dc;
}

.sidebar-menu .nav-link:hover .feather,
.sidebar-menu .nav-link.active .feather {
  color: inherit;
}

.sidebar-menu-heading {
  font-size: 0.75rem;
  text-transform: uppercase;
}

/* 
 * Sidebar properties
 */
.sidebar-properties {
  background: none;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0px 0px 0px; /* Height of navbar */
  box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.1);
  overflow-y: scroll;
}


/* 
 * Stemma buttons
 */
#stemma-buttons-container {
  width: 100%;
}

edit-stemma-buttons {
  width: 100%;
  display: flex;
  align-items: flex-start;
}

#stemma-selector-buttons {
  width: 50%;
  display: flex;
  justify-content: left;
}

#edit-stemma-buttons-right {
  width: 50%;
  display: flex;
  justify-content: right;
}


edit-stemma-buttons a.greyed-out div {
  color: #ccc;
}

.delete-stemma-danger {
  color: #dc3545;
}

#add-stemma-button-link, #delete-stemma-button-link {
  margin-left: 0.5em;
}

#stemma-editor-graph-container {
  height: 80vh;
  display: flex;
}

#stemma-editor-container {
  opacity: 0;
  width: 0%;
  transition: width 0.2s ease-in-out, opacity 0.1s ease-in-out;
}

#stemma-editor-container.expanded {
  width: 50%;
  opacity: 1;
  transition: width 0.4s ease-in-out, opacity 0.4s ease-in-out;
}

#stemma-dot-editor-container {
  border: 1px solid #bfc4c8;
  margin-top: 3pt;
  padding: 3pt;
  padding-right: 0pt;
  height: 95%;
}

#stemma-editor-buttons-container {
  width: 100%;
  display: flex;
  justify-content: right;
}

#stemma-editor-help-button-container {
 padding-left: 0.2em;
}

#stemma-editor-save-cancel-buttons-container {
  width: 100%;
  display: flex;
  justify-content: right;
}

#stemma-dot-editor:focus-visible {
  height: 100%;
  width: 100%;
  border: none;
  resize: none;
}

#stemma-dot-editor {
  height: 100%;
  width: 100%;
  border: none;
  resize: none;
  outline: none;
  font-family: 'Sono', monospace;
  font-size: 90%;
}

#stemma-editor-help-text {
  position: absolute;
  top: 1.5em;
  left: 50%;
  margin-left: 2pt;
  width: 45%;
  height: 0em;
  opacity: 0.9;
  border: 1px solid #fff;
  background: #f8f9fa;
  transition: height 0.4s ease-out, border 1.4s ease-out;
  overflow: auto;
}

#stemma-editor-help-text.show {
  height: 30em;
  opacity: 0.9;
  border: 1px solid #bfc4c8;
  background: #f8f9fa;
  transition: height 0.4s ease-out, border 0.4s ease-out;
}

#dot-help {
  padding: 1em;
}

#dot-help h4 {
  margin-bottom: 0.6em;
  font-size: 125%;
}

#dot-help p {
  font-size: 95%;
  margin-bottom: 0.5rem;
}

#dot-help .code {
  font-family: 'Sono', monospace;
  font-size: 90%;
  color: #56799b;
  margin-bottom: 0.5rem;
  padding-left: 1.8em;
}

#graph-container {
  z-index: 810;
  width: 100%;
  transition: width 0.2s ease-in-out;
}

#graph-container.shrunken {
  width: 50%;
  transition: width 0.4s ease-in-out;
}

#graph-area {
  background-color: white;
  width: 100%;
  height: 90%;
  padding: 1em;
}

#graph-container #graph-area #graph svg {
  width: 100%;
  transition: width 0.2s ease-in-out;
}

#graph-container.shrunken #graph-area #graph svg {
  width: 100%;
  transition: width 0.4s ease-in-out;
}

#stemma-selectors {
  display: flex;
  justify-content: flex-start;
}

.stemma-selector.selected svg {
  fill: rgb(210,210,210);
}

@media (min-width: 200px) {
  .ms-md-perc {
    margin-left: 24.6% !important;
  }
}
@media (min-width: 987px) {
  .ms-md-perc {
    margin-left: 16.6% !important;
  }
}

.modal-backdrop {
  background-color: #fff;
}

.modal-backdrop.show {
  opacity: 0.2;
}

.modal-content {
  background-color: #eaf0f9;
  border: 1px solid rgba(138, 138, 138, 0.2);
  border-radius: 0;
}

.hide {
  display: none !important;
}

.form-control,
.form-select {
  font-size: 90%;
}

.form-textfield, 
.form-select, 
.form-check,
.form-upload {
  margin-bottom: 1.5em;
}

table.variant-types-controls .form-check, table.variant-types-controls .form-label {
  margin-bottom: 0em;
}

table.variant-types-controls td {
  padding-right: 2em;
}

.indicator-svg {
  margin-right: 2px;
  margin-left: 2px;
}

.indicator-svg:hover {
  cursor: pointer;
}

.indicator-svg[data-active='false']:hover {
  cursor: pointer;
  fill: #e3e3e3;
}

[role='tab'] {
  cursor: pointer;
}

stemmaweb-alert {
  z-index: 1100;
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 50vw;
}

.nav-link {
  cursor: pointer;
}

li.nav-item {
  padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
}

.folder-icon {
  padding-right: 0.5em;
}

ul#traditions-list {
  margin-top: 1.2em;
}

ul#traditions-list a {
  padding: unset;
}

ul#traditions-list .folder-icon.selected svg {
  fill: #cfdcee;
}

section-list ul {
  margin-top: 0.5em;
}

section-list ul li {
  --bs-nav-link-padding-y: 0.1rem;
}

section-list ul li.dragging-highlight {
  background-color: rgba(0, 0, 0, 0.05);
}

.tradition-property-label-cell, .section-property-label-cell {
  min-width: 6em;
}

.tradition-property-value-cell, .section-property-value-cell {
  width: 100%;
  overflow-wrap: anywhere;
}

social-login-options .btn {
  font-size: calc( var(--bs-btn-font-size) * 4);
}

delete-section-button .btn-outline-danger {
  color: var(--bs-btn-color);
  padding-right: 0.5em;
}

#message-console-text-panel {
  height: 10em;
  overflow-y: scroll;
  background-color: #fcfcfc;
  font-size: 80%;
  padding: 0.1rem 0.25rem;
  border: 1px solid #c5c6c8;
}

#message-console-text-panel .console-message {
  color: #198754;
}

#message-console-text-panel .console-message.danger {
  color: #d5465a;
}

relation-mapper {
  display: none;
  opacity: 0;
  width: 100%;
}

button.selected-view {
  color: #fff;
  background-color: #87aade;
}