<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <style>
      div {
        height: 120px;
        width: 212px;
        color: white;
        border: none;
        margin-bottom: 6px;
        padding: 20px;
        font: 12pt "Lucida Grande", Helvetica, Arial, sans-serif;
      }
    </style>
  </head>
  <body>
    <!--
      /*
      mount etna grey: 4b5459
      tricorn black: 2d2d2d
      rookwood dark red: 4a2220
      canoe: b89c7e
      leather bound: 8c653a
       */
    -->
    <div style="background-color:#4b5459;">
      mount etna grey (4b5459)
    </div>
    <div style="background-color:#2d2d2d;">
      tricorn black (2d2d2d)
    </div>
    <div style="background-color:#4a2220;">
      rookwood dark red (4a2220)
    </div>
    <div style="background-color:#b89c7e;">
      canoe (b89c7e)
    </div>
    <div style="background-color:#8c653a;">
      leather bound (8c653a)
    </div>
  </body>
</html>
