  <table id="alignment_table">
    <tr><td/>
[% FOREACH w IN witnesses -%]
      <th>[% w %]</th>
[% END -%]
    </tr>
[% FOREACH row IN table -%]
    <tr>
      <th>[% row.rank %]</th>
[% FOREACH reading IN row.readings -%]
      <td>[% reading %]</td>
[% END -%]
    </tr>
[% END -%]
  </table>
