    <h2>Choose a text to examine</h2>
    <div id="text_list">
      <ul>
[% SET i = 0 -%]
[% FOREACH t IN texts -%]
        <li>[% t.name %] | <a href="relationships?textid=[% t.id %]">Relationship mapper</a>
[% IF t.has_stemma -%]
         | <a href="stexaminer?textid=[% t.id %]">Stexaminer</a>
[% END -%]</li>
[% i = i + 1 -%]
[% END -%]
     </table>
    </div>
