    <h2>Choose a text to examine</h2>
    <div id="text_list">
      <ul>
[% SET i = 0 -%]
[% FOREACH t IN texts -%]
        <li><span class="traditionname" onClick="loadTradition('[% t.id %]')">[% t.name %]</span></li>
[% i = i + 1 -%]
[% END -%]
     </table>
    </div>
