<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <META http-equiv="Content-Type" content="text/html; charset=utf-8">
    <script type="text/javascript" src="js/jquery-1.4.4.min.js"></script>
    <script type="text/javascript" src="js/jquery-ui-1.8.10.custom.min.js"></script>
    <script type="text/javascript" src="js/interaction.js"></script>
    <link type="text/css" href="[% c.uri_for('css/cupertino/jquery-ui-1.8.13.custom.css') %]" rel="stylesheet" />
    [% INCLUDE style.tt2 %]
  </head>
  <body>
    <div id="variants_table">
      <table>
[% FOREACH row IN variants -%]
[% INCLUDE variantrow %]
[% END -%]
     </table>
    </div>
  </body>
</html>

[% BLOCK variantrow -%]
[% SET rowclass = 'class="genealogical"' IF row.genealogical -%]
[% SET rowclass = 'class="coincidental"' UNLESS row.genealogical -%]
        <tr [% rowclass %]>
          <th><span class="rowid">[% row.id %]</span></th>
[% FOREACH reading IN row.readings -%]
[% SET cellclass = 'clickable conflict' IF reading.conflict -%]
[% SET cellclass = 'clickable' IF !reading.conflict -%]
          <td class="[% cellclass %]"><span onclick="color_nodes($(this).parent().index(), [% reading.group %], [% reading.missing %]);$(this).parents('tr').addClass('active_variant_row');$(this).parent().addClass('active_variant_cell cellb'+($(this).parent().index()-1))">[% reading.text %]</span></td>
[% END -%]
[% FILTER repeat( row.empty ) -%]
          <td/>
[% END -%]
        </tr>
[% END -%]