#topbanner {
	width: 100%;
	height: 50px;
	margin-top: 20px;
}
.error {
    color: #d24848;
}
.openid_form {
	margin-top: 20px;
}
#openid_input {
	background: url('../images/openid-16x16.gif');
	background-color: white;
	background-position: 0 50%;
	background-repeat: no-repeat;
	padding-left: 18px;
	padding-top: 3px;
	padding-bottom: 3px;
	margin-right: 15px;
	width: 200px;
}
