/* Index page components */
#directory_container {
  background: none repeat scroll 0 0 rgba(255, 255, 255, 0.75);
  float: left;
  width: 300px;
  height: 450px;
  border: 1px #c6dcf1 solid;
  margin-left: 30px;
  padding-left: 10px;
  padding-right: 10px;
}

#loading_message {
  display: none;
}

#directory {
  height: 360px;
  margin-left: 10px;
  overflow: auto;
}

#new_trad_button {
  margin-left: 10px;
  position: relative;
  top: 10px;
}

.traditionname {
  text-decoration: underline;
}

.selected {
  font-style: italic;
}

.controlgroup {
  margin-bottom: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #C6DCF1;
}

#textinfo_waitbox {
  float: left;
  padding-left: 50px;
}

#textinfo_container {
  background: none repeat scroll 0 0 rgba(255, 255, 255, 0.75);
  border: 1px solid #C6DCF1;
  float: left;
  height: 510px;
  width: 710px;
  margin-left: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

#edit_instructions {
  float: left;
}

#stemma_container h2 h3 {
  color: #666;
}

#stemma_graph {
  height: 340px;
  width: 500px;
  text-align: center;
  border: 1px #c6dcf1 solid;
  background: #ffffff;
}

#stemma_graph img {
  margin-top: expression((450 - this.height) / 2);
}

#stemma_graph svg {}

#stemma_graph_title {
  bottom: 20px;
  margin-left: 5px;
  position: relative;
}

#stemma_identifier {
  color: #488dd2;
  font-size: 12px;
  font-weight: bold;
}

#textinfo_container_buttons {
  z-index: 100;
  width: 224px;
  height: 230px;
  /* 38 + (32 * maximum number of buttons) */
  float: right;
  left: -18px;
  position: relative;
  top: 15px;
}

.textcontrol {
  height: 32px;
  margin-bottom: 8px;
}

#stemma_pager_buttons {
  height: 38px;
}

.stemma_node_highlight {
  stroke-width: 1.5px;
  stroke: #415555;
  fill: #d6e0f5;
}

#open_textinfo_edit {
  float: right;
  height: 64px;
  position: relative;
  top: -34px;
  left: -8px;
}

#upload-collation-dialog {
  overflow: hidden;
}

.uploadfile {
  font-weight: bold;
}

#uploadfile_label {
  font-weight: normal;
}

#filelist {
  position: relative;
  top: 10px;
  margin-bottom: 24px;
}

#new_file {
  position: absolute;
  top: -50px;
  opacity: 0.0;
}

#new_file_name {
  font-weight: bold;
}

#new_name, #new_lang, #new_public, #new_file_name_container {
  margin-bottom: 6px;
}

#new_file_label {
  float: left;
  padding-right: 8px;
}

#root_tree_dialog {
  position: absolute;
  border: 2px solid #B2E0B2;
  background: #e6f5e6;
  padding: 4px 8px 4px 12px;
  z-index: 200;
  font-size: 75%;
}

#root_tree_dialog img {
  vertical-align: middle;
}

#stemweb_algorithm_desc_text {
  overflow: auto;
  height: 150px;
  margin-top: 5px;
  padding: 10px;
  border: 1px solid #ddd;
  display: none;
}

#hiit_logo {
  padding-bottom: 5px;
  padding-top: 5px;
  width: 478px;
}

#eadh_logo {
  float: right;
  padding-left: 20px;
  padding-top: 5px;
  width: 130px;
}

.dialog_picker, .dialog_picked {
  display: block;
  float: left;
  width: 45%;
  margin: 10px;
}

#section_list, #relation_list {
  list-style-type: none;
  margin: 0;
  padding: 3px;
  background-color: white;
}

#section_list li, #relation_list li {
  margin: 0 3px 3px 3px;
  padding: 0.4em;
  padding-left: 1.5em;
  font-size: 1.4em;
  height: 18px;
  background-color: #deedf7;
}

#section_list li .sortable-handle {
  position: absolute;
  margin-left: -1.3em;
}
