body { 
    margin: 0; 
    padding: 0 20px; 
    font: 1em "Trebuchet MS", verdana, arial, sans-serif; 
    font-size: 85%; 
    background: #EDF1FA;
}
.error {
    color: red;
}
#topbanner {
	width: 100%;
	height: 100px;
	margin-top: 20px;
}
#logoimg {
	float: left;
	margin-left: 20px;
}
#logotitle {
	float: left;
	margin-left: 30px;
	height: 55px;
	padding-top: 40px;
}
h1.title a:link, h1.title a:visited, h1.title a:active {
	color: #666;
	font-weight: bold;
	text-decoration: none;
}
h1.title a:hover {
	color: #222;
}
h1.title {
	margin: 0;
	padding: 0;
	letter-spacing: -1px;
	line-height: 1.0em;
	font-family: tahoma, arial, sans-serif;
	font-size: 240%;
}
p.tagline {
	margin: 0;
	padding: 0;
	font-size: 1.2em;
	font-weight: bold;
	color: #666;
}
.term {
	font-style: italic;
}
p.api {
	font-weight: bold;
	font-family: Courier;
}
span.apimore {
	font-family: Courier;
}
#enlargement_container {
    height: 504px;
    width: 90%;
    margin-top: 5px;
    border: 2px solid #B0C6F7;
    background: #fff;
    padding-top: 5px;
    padding-bottom: 5px;    
}
#dialog_overlay {
    display: none;
    position: absolute;
    background-image: url("cupertino/images/ui-bg_diagonals-thick_90_eeeeee_40x40.png");
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 50% 50%;
    background-color: #EEEEEE; 
    opacity: 0.7;
    padding-bottom: 5px;
    padding-top: 5px;
    border: 2px solid #B0C6F7;
}
#update_workspace_button {
    position: absolute;
    left: 74.5%;
    top: 126px;
    height: 44px;
    width: 46px;
    margin-top: 17px;
    border: none;
    background-image: url('../images/act_icons.png');
    background-position: 0px 44px;
    background-color: none;
    background-repeat: none;
    z-index: 50;
}
#workspace_container {
    height: 504px;
    width: 43%;
    position: relative;
    top: -545px;
    left: 47%;
    margin-top: 10px;
    border: 2px solid #B0C6F7;
    background: #fff;
}
#graph_underlay {
    height: 100%; 
    width: 100%; 
    background: #fff;
    position: relative;
    z-index: -2;
}
#visor {
    height: 100px; 
    width: 20%; 
    background-color: #61EDAE; 
    opacity: 0.15; 
    position: relative;
    left: 40%; 
    top: -104px;
    z-index: -1;
    border-left: 2px solid #3C73FA;
    border-right: 2px solid #3C73FA;
    border-bottom: 2px solid #B0C6F7;
    border-top: 2px solid #B0C6F7;
}
#graph {
    position: relative; top: -208px;
    padding: 0px;
    overflow: auto;
    /* cursor: -moz-grab !important; */ /* should this be applied with JS? */
}
#enlargement {
    padding: 0px;
    overflow: hidden;
}
#workspace {
    padding: 0px;
    overflow: hidden;
}
#keymap {
    position: absolute;
    left: 80%;
    top: 140px;
    border: 2px solid #B0C6F7;
    background: #fff;
    background: url("cupertino/images/ui-bg_highlight-hard_100_f2f5f7_1x100.png");
    background-repeat: repeat-x;
    background-scroll: scroll;
    background-position: 50% top;
    background-color: #F2F5F7;
}
#keymap ul {
    padding: 10px;
    padding-left: 14px;
    padding-right: 14px;
    margin: 0px;
}
#keymap li {
    border-left: 16px solid #fff;
    padding-left: 8px;
    list-style: none;
    margin-bottom: 3px;
}
