#topbanner {
	width: 100%;
	height: 100px;
	margin-top: 20px;
}
#bannerinfo {
	float: right;
	margin-right: 12%;
	margin-top: 15px;
}
#variants_table {
    clear: both;
    width: 90%;
    height: 190px;
    border: 1px #c6dcf1 solid;
    margin-bottom: 20px;
    overflow: auto;
}
#stemma_graph {
    height: 350px;
    clear: both;
    float: left;
    width: 600px;
    text-align: center;
    border: 1px #c6dcf1 solid;
}
#row_statistics {
	float: left;
	padding: 30px;
}
#statistics {
    font-style: italic;
    margin-bottom: 25px;
    position: relative;
    top: -15px;
}
.reading_statistics {
	margin: 7pt;
	border-bottom: 1px solid #488dd2;
}
.readinglabel {
	font-weight: bold;
}
.readingroots .reversionroots {
	font-weight: bold;
	color: #488dd2;
}
.reading_copied {
	color: #33dd33;
}
.reading_changed {
	color: #dd3333;
}
.template {
	display: none;
}
.genealogical {
    background: #88ffaa;
}
.coincidental {
    background: #fff;
}
.unsolved {
	background: lightgrey;
}
.conflict {
    background: #ff6666;
}
.reversion {
	background: #ffd700;
}
.active_variant_row {
    background: #c6dcf1;
    font-style: italic;
}
.active_variant_cell {
    background: #e8f1fe;
}
.cellb0 {
    border-right: 20px solid #ffeeaa;
}
.cellb1 {
    border-right: 20px solid #afc6e9;
}
.cellb2 {
    border-right: 20px solid #d5fff6;
}
.cellb3 {
    border-right: 20px solid #ffccaa;
}
.cellb4 {
    border-right: 20px solid #ffaaaa;
}
.cellb5 {
    border-right: 20px solid #e5ff80;
}
.cellb6 {
    border-right: 20px solid #e5d5ff;
}
.cellb7 {
    border-right: 20px solid #ffd5e5;
}

/* Clearfix hack to make div container height work */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}