/* General site-wide layout */
body {
  margin: 0;
  font: 1em "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 85%;
  background: #EDF1FA;
  color: #444;
}

.clearfix:after {
  content: "\00A0";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix {
  display: inline-block;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}

.clearfix {
  display: block
}

h1 {
  border-bottom: 1px solid #488dd2;
  color: #488dd2;
  font-size: 18pt;
}

h2 {
  margin-top: 10px;
  color: #488dd2;
  font-size: 18px;
}

h3 {
  color: #488dd2;
  font-size: 14px;
  font-style: italic;
}

div.button {
  background: transparent url('../images/b_button_a.png') no-repeat scroll top right;
  color: #fff;
  display: block;
  float: left;
  font: normal 12px Times, Times New Roman, Serif;
  /* arial, sans-serif; */
  height: 24px;
  margin-right: 6px;
  padding-right: 18px;
  /* sliding doors padding */
  text-decoration: none;
}

div.button-inline {
  display: inline-block;
  float: none;
  margin-left: 10px;
}

div.button.reset {
  background: transparent url('../images/c_button_a.png') no-repeat scroll top right;
}

div.button span {
  background: transparent url('../images/b_button_span.png') no-repeat;
  display: block;
  line-height: 14px;
  padding: 5px 0 5px 18px;
}

div.button.disable {
  opacity: .35;
}

div.button:hover {
  background-position: bottom right;
  color: #444;
  outline: none;
  /* hide dotted outline in Firefox */
}

div.button:hover span {
  background-position: bottom left;
}

#stemma_pager_buttons {
  height: 28px;
}

div.pager_left_button {
  width: 28px;
  height: 28px;
  float: left;
  background: transparent url('../images/button_left_28.png') no-repeat left bottom;
}

div.pager_left_button:hover {
  background: transparent url('../images/button_left_28.png') no-repeat center bottom;
}

div.pager_right_button:hover {
  background: transparent url('../images/button_right_28.png') no-repeat center bottom;
}

div.pager_right_button {
  width: 28px;
  height: 28px;
  float: left;
  margin-left: 10px;
  background: transparent url('../images/button_right_28.png') no-repeat left bottom;
}

div.pager_right_button.greyed_out, div.pager_right_button.greyed_out:hover {
  opacity: 0.5;
  background: url("../images/button_right_28.png") no-repeat scroll right bottom transparent;
}

div.pager_left_button.greyed_out, div.pager_left_button.greyed_out:hover {
  opacity: 0.5;
  background: url("../images/button_left_28.png") no-repeat scroll right bottom transparent;
}

#main_page {
  background: transparent url('../images/logo_001.png') no-repeat scroll -200px -100px;
  background-size: 600px;
  background-color: #ffffff;
  box-shadow: 0 3px 10px rgba(100, 100, 100, 0.3);
  width: 1124px;
  padding-bottom: 30px;
  margin: 48px auto 48px;
}

#topbanner {
  padding: 30px;
}

#bannerinfo {
  float: right;
  margin-right: 12%;
  margin-top: 15px;
}

#docco {
  padding: 30px;
}

.mainnav {
  font-size: 14px;
  font-weight: 100;
  background-color: #488dd2;
  color: #ffffff;
  padding: 5px;
  float: right;
}

.navlink {
  color: #ffffff;
  text-decoration: underline;
}

.error {
  font-weight: bold;
  color: #ff3333;
}

.warning {
  font-weight: bold;
  color: #ff8000;
}

.notification {
  font-weight: bold;
  color: #119911;
}

rect.selection {
  cursor: move !important;
  -webkit-touch-callout: none !important;
  -webkit-user-select: none !important;
  -khtml-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
  stroke: #545454;
  stroke-width: 2px;
  stroke-opacity: 1;
  fill: white;
  fill-opacity: 0.5;
}
