/* General site-wide layout */
body { 
    margin: 0; 
    padding: 20px; 
    font: 1em Arial, Helvetica, sans-serif; 
    font-size: 85%; 
    color: #666;
}
h1 {
    border-bottom: 1px solid #488dd2;
    color: #488dd2;
    font-size: 18pt;
}
h2 {
    margin-top: 10px;
    color: #488dd2;
    font-size: 18px;
} 
h3 {
	color: #488dd2;
	font-size: 14px;
	font-style: italic;
}

div.button {
  background: transparent url('../images/b_button_a.png') no-repeat scroll top right;
  color: #fff;
  display: block;
  float: left;
  font: normal 12px Times, Times New Roman, Serif; /* arial, sans-serif; */
  height: 24px;
  margin-right: 6px;
  padding-right: 18px; /* sliding doors padding */
  text-decoration: none;
}
div.button.reset {
  background: transparent url('../images/c_button_a.png') no-repeat scroll top right;
}
div.button span {
  background: transparent url('../images/b_button_span.png') no-repeat;
  display: block;
  line-height: 14px;
  padding: 5px 0 5px 18px;
}
div.button.reset span {
  background: transparent url('../images/c_button_span.png') no-repeat;
}
div.button:hover {
  background-position: bottom right;
  color: #444;
  outline: none; /* hide dotted outline in Firefox */
}
div.button:hover span {
  background-position: bottom left;
}

#topbanner {
	width: 100%;
}
#bannerinfo {
	float: right;
	margin-right: 12%;
	margin-top: 15px;
}
.navlink {
	color: #488dd2;
	text-decoration: underline;
}



/* Index page components */

#directory_container {
	float: left;
	width: 300px;
	height: 450px;
	border: 1px #c6dcf1 solid;
	padding-left: 10px;
	padding-right: 10px;
}
#loading_message {
	display: none;
}
#directory {
	height: 360px;
	margin-left: 10px;
	overflow: auto;
}
#new_trad_button {
	margin-left: 10px;
	position: relative;
	top: 10px;
}
.traditionname {
	text-decoration: underline;
}
.selected {
	font-style: italic;
}
.mainnav {
	position: absolute;
	top: 10px;
	right: 22px;
	font-size: 14px;
	font-weight: 100;
	color: #488dd2;
}
.mainnav a {
	color: #488dd2;
}
#textinfo_container {
    border: 1px solid #C6DCF1;
	float: left;
	height: 500px;
	width: 710px;
	margin-left: 10px;
	padding-left: 10px;
	padding-right: 10px;
}
#stemma_container h2 h3 {
	color: #666;
}
#stemma_graph {
    height: 375px;
    width: 500px;
    text-align: center;
    border: 1px #c6dcf1 solid;
}
#stemma_graph img {
	margin-top: expression(( 450 - this.height ) / 2);
}
#stexaminer_button {
	bottom: 0;
	margin-top: 13px;
}
#relater_button {
}
#textinfo_container_buttons {
    float: right;
}
#run_stexaminer, #run_relater, #stemma_pager, #add_edit_stemma {
    height: 30px;
    left: -10px;
    position: relative;
}
#upload-collation-dialog {
    overflow: hidden;
}
.uploadfile {
    font-weight: bold;
}
#uploadfile_label {
    font-weight: normal;
}
#filelist {
    position: relative;
    top: 10px;
    margin-bottom: 24px;
}
